body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--back-color-essencially);

}
input[type="search"]{
    background-color: var(--input-background-color);
    color: var(--white-color);
}

button{
    color: var(--black-color);
}
p{
    color: var(--font-color);
}
:root {
    --font-color: #014284;
    --link-color: #58d7fe;
    --headers-color: #014284;
    --border-color: #abe1fb;
    --bttn-color-background-first: #014284;
    --bttn-color-background-second: #abe1fb;
    --white-color: #ffffff;
    --black-color: #000000;
    --back-color-essencially: #f3f2f3;
    --input-background-color: #ffffff;
    --input-type-text-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0 2%;
}

.left-column {
    margin-top: 4vh;
    top: 10vh;
    height: 85vh;
    position: sticky;
    width: 20%;
    background-color: var(--bttn-color-background-first);
    border-radius: 10px;
    padding: 20px;
    color: var(--white-color);
}

.left-column .profile img {
    margin: 10px 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--bttn-color-background-second);
}

.left-column .profile ul {
    width: 15vh;
    list-style: none;
}

.left-column .profile li {
    width: auto;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
}

.left-column .profile li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
}

.left-column .profile li:hover::after {
    width: 40%;
  }

.mid-column {
    flex: 1;
    background-color: var(--back-color-essencially);
    padding: 20px;
}

.content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    color: var(--black-color);

}

.write-post {
    margin-top: -40px;
    border-radius: 10px;
    width: 100%;
    background-color: var(--white-color);
    margin-bottom: 10px;
}

.write-post input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 0px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color:var(--input-type-text-color) ;
}

.write-post i {
    cursor: pointer;
    color: var(--bttn-color-background-first);
}

.write-post .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 10px 30px;
}

.write-post button {
    cursor: pointer;
    background-color: var(--bttn-color-background-second);
    color: var(--black-color);
    margin: 5px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.posts {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: var(--white-color);
    height: auto;
}

.posts .top-post {
    display: flex;
    flex-direction: column;
}

.posts .left-post {
    padding: 10px;
    display: flex;
    justify-content: start;
}

.posts .left-post h4 {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: start;
    color: var(--headers-color);
    margin-left: 10px;
}

.left-post img {
    border: 2px solid var(--bttn-color-background-second);
    width: 60px;
    border-radius: 50%;
}

.posts .right-post {
    flex: 1;
    margin-left: 10%;
}

.posts p {
    font: 300;
    padding: 20px;
    text-align: justify;
}

.posts .pottom-post {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 15px;
}

.posts .pottom-post .react {
    display: flex;
    gap: 15px;

}

.posts .pottom-post i,
span {
    cursor: pointer;
    color: var(--headers-color);
}

.posts .pottom-post button {
    cursor: pointer;
    background-color: var(--bttn-color-background-second);
    color: var(--black-color);
    margin: 5px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

.right-column {
    display: inline-block;
    margin-top: 4vh;
    top: 10vh;
    height: 85vh;
    position: sticky;
    width: 30%;
    border-radius: 10px;
    /* background-color: var(); */
    border: 3px solid var(--border-color);

}

.right-column h2 {
    margin: 20px;
    color: var(--headers-color);
    font-weight: 900;

}

.right-column .suggestions {
    display: flex;
    justify-content: center;

}

.right-column .suggestions img{
    position: absolute;
    width: 30vh;
    top: 0;
    right: 0;

}

.box_outer{
display: block;
}

.right-column .box {
    
    margin-top: 6.5vh;
    width: 50vh;
    height: 20vh;
    border: 2px solid var(--headers-color);
    border-radius: 10px;
}

.right-column .box img {
    position: relative;
    width: 70px;
    margin: 10px;
    border-radius:50% ;
    border: 2px solid var(--headers-color);
}
.top-box{
    align-items: center;
    display: flex;
    flex-direction:row;
    gap: 10px;
}
.top-box h4{
    display: flex;
}
.right-column .box p {
    
    margin: 10px;
   color: var(--headers-color);
   font-weight: 900;
}

header {
    height: 10vh;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6%;
    background-color: var(--white-color);
}

header input[type="search"] {
    width: 55vh;
    padding: 10px;
    margin: 5px -10px;
    border-radius: 20px;
    border: 2px solid var(--border-color);
}

.write-post input[type="text"]:focus{
    border: none;
    outline: none;
}

.search-bar {
    display: flex;
    align-items: center;

}

.logo {
    color: var(--headers-color);

}

.moon-shape {
    cursor: pointer;
    width: 35px;
    border: 2px solid var(--bttn-color-background-first);
    border-radius: 50%;

}
.sun-shape{
    display: none;
    cursor: pointer;
    width: 25px;
    font-size: 30px;
    /* border: 2px solid var(--bttn-color-background-first); */
    border-radius: 50%;
}

.moon-shape i {
    padding: 5px;
    font-size: 25px;
    color: var(--bttn-color-background-first);

}
.right_container{
    width: inherit;
    height: inherit;

}


a{
    color: var(--white-color);
    text-decoration: none;

}

@media (max-width: 768px) {
    .search-bar {
        display: none;
        align-items: center;
    
    }
    .right_container{
        display: none;
    }
    #right-column{
        display: none;
    }
    header {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;


    }
    .container {
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    .left-column {
        display: none;
        width: 0%;
        height: 0vh;
    }
    .right-column {
        display: none;
        width: 0%;
        height: 0vh;
    }


    .logo {
        color: var(--headers-color);
        font-size: 2vh;
    }

    
}

@media (max-width: 1350px) {
    .right_container{
        display: none;
    }
    .right-column {
        display: none;
        margin-top: 4vh;
        top: 10vh;
        height: 85vh;
        position: sticky;
        width: 30%;
        border-radius: 10px;
        /* background-color: var(); */
        border: 3px solid var(--border-color);
    
    }
}